<div ng-controller="ingredientTypeCtrl" ng-init="initialize()"
	class="container">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Schnarbies and Meowers!</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#!logout">Logout</a></li>
				<li><a href="#!servingtypes">Servings</a></li>
				<li><a href="#!ingredienttypes">Types</a></li>
				<li><a href="#!brandnames">Brands</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<table ng-show="hasError">
		<tr ng-repeat="error in errors track by $index">
			<td>{{error}} + </td>
		</tr>
	</table>
	<br>
	<div>
		<table class="w3-table w3-bordered w3-striped">
			<tr>
				<th>Actions</th>
				<th></th>
				<th>Ingredient Subtype</th>
			</tr>
			<tr ng-repeat="subtype in ingredientSubtypeList">
				<td><button class="w3-btn w3-ripple" ng-disabled="viewOnly"
						ng-click='updateIngredientSubtype(subtype)'>&#9998; Edit</button></td>
				<td><button class="w3-btn w3-ripple" ng-disabled="viewOnly"
						ng-click='deleteIngredientSubtype(subtype.id)'>&#9998;
						Delete</button></td>
				<td>{{subtype.ingredient_subtype_desc}}</td>
			</tr>
		</table>
		<br>
		<button class="w3-btn w3-green w3-ripple" ng-disabled="viewOnly"
			ng-click="updateIngredientSubtype('new')">&#9998; Create
			Ingredient Subtype</button>
	</div>
	<br>
	<div ng-show="showISTform">
		<h3 ng-hide="ISTFormEdit">Create Ingredient Subtype:</h3>
		<h3 ng-show="ISTFormEdit">Edit Ingredient Subtype:</h3>
		<label>Subtype description:</label> <input class="w3-input w3-border"
			type="text" ng-model="ISTFormDesc" required> <br>
		<button class="w3-btn w3-green w3-ripple"
			ng-disabled="ingredientSubtypeFormError"
			ng-click='saveIngredientSubtype()'>&#10004; Save Changes</button>
	</div>
</div>